@import 'config';
@import 'menu';
@import 'media';

* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #000;
    background-image: url('../img/my-face.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
    color: #fff;
    height: 100%;
    width: 100%;
    font-family: 'PT Serif', serif;
    line-height: 1.5;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($primary-color, .7);
        z-index: -1;
    }
    #home-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 30vh;
    }
    .social-icons {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            margin: 0 20px;
        }
    }
}
h1, 
h2, 
h3 {
    margin: 0;
    font-weight: 400;
    &.lg-heading {
        font-size: 6rem;
        text-transform: uppercase;
        line-height: 1;
        span {
            color: $secondary-color;
        }
    }
    &.sm-heading {
        font-size: 2rem;
        text-transform: uppercase;
    }
}

a {
    color: #fff;
    text-decoration: none;
    &:hover {
        color: $secondary-color;
    }
}