@import url('https://fonts.googleapis.com/css?family=PT+Serif');
$primary-color: #333;
$secondary-color: #F7931E; 
@mixin easeOut {
    transition: all .5s ease-in-out;
}

* {
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    color: #fff;
    height: 100%;
    margin: 0;
    font-family: 'PT Serif', serif;
    line-height: 1.5;
    #home-content {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        .social-icons {
            margin-top: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            .fab {
                margin: 0 40px;
            }
        }
    }
}
h1, 
h2, 
h3 {
    margin: 0;
    font-weight: 400;
    &.lg-heading {
        font-size: 6rem;
        text-transform: uppercase;
        line-height: 1;
    }
    &.sm-heading {
        font-size: 2rem;
        text-transform: uppercase;
    }
}

a {
    color: #fff;
    text-decoration: none;
    &:hover {
        color: $secondary-color;
    }
}

// MENU BTN
.menu-btn {
    @include easeOut;
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 5;
    &.close {
        transform: rotate(180deg);
        .btn-line {
            &:nth-child(1) {
                 @include easeOut;
                transform: rotate(45deg) translate(10px, 10px);
            }
            &:nth-child(2) {
                @include easeOut;
                opacity: 0
            }
            &:nth-child(3) {
                @include easeOut;
                opacity: 0
            }
            &:nth-child(4) {
                @include easeOut;
                transform: rotate(-45deg) translate(7px, -7px);
            }
        }
    }
    .btn-line {
        width: 45px;
        height: 3px;
        background-color: #fff;
        margin-bottom: 5px;
    }
}
// MENU SECTIONS
// Menu-right
.menu-profile {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 50%;
    overflow: hidden;
    visibility: hidden;
    @include easeOut;
    &.show {
        visibility: visible;
    }
}
//Menu-left
.menu-nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    @include easeOut;
    &.show {
        visibility: visible;
    }
}


// CONTENT
