@import 'config';
@import 'menu';
@import 'media';

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    background-color: #333;
    font-family: 'PT Serif', serif;
    .social-icons {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            margin: 0 20px;
            .media-icon {
                fill: #fff;
                width: 50px;
                height: 50px;
                @include easeOut;
                &:hover {
                    fill: $secondary-color;
                }
            }
        }
    }
}

#home {
    background-color: #333;
    background-image: url('../img/my-face-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
    color: #fff;
    height: 100%;
    width: 100%;
    font-family: 'PT Serif', serif;
    line-height: 1.5;
    overflow: hidden;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($primary-color, .4);
        z-index: -1;
    }
    #home-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 30vh;
    }
}
h1, 
h2, 
h3 {
    margin: 0;
    font-weight: 400;
    &.lg-heading {
        font-size: 6rem;
        text-transform: uppercase;
        line-height: 1;
        span {
            color: $secondary-color;
        }
    }
    &.sm-heading {
        font-size: 2rem;
        text-transform: uppercase;
    }
}

a {
    color: #fff;
    text-decoration: none;
    &:hover {
        color: $secondary-color;
    }
}

//ABOUT PAGE
.about-me {
    width: 100%;
    height: 80vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .my-face {
        width: 350px;
        height: 350px;
        border-radius: 50%;
        border: solid 6px #fff;
    }
    p {
        width: 40%;
        font-size: 35px;
        color: #fff;
        padding: 10px;
        margin-left: 70px;
    }
    }
    .my-skills {
        width: 100%;
        height: 70vh;
    }
    .md-heading {
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    }
    // Skillset
    .skill-set-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-template-rows: repeat(2, 100);
    margin-bottom: 60px;;
    .skill-container {
        margin: 0 auto;
        width: 600px;
        .skill-tag {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h3 {
            font-size: 40px;
            color: #fff;
            margin: 0;
        }
        }
        .skillset{
        width: 100%;
        height: 20px;
        background-color: #fff;
        .skill {
        height: 20px;
        background-color: $secondary-color;
        }
        }
    }
    }
// CONTACT PAGE
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
        color: #fff;
        font-size: 60px;
        width: 80%;
        margin: 25vh auto 0;
        a {
            color: $secondary-color;
            @include easeOut;
            &:hover {
                color: #fff;
            }
        }
    }
}
